# Virtual Environment
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so
*.pyd
*.dll

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db